<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css/sitestyles.css" />
  <script src="/public/js/form_validate.js" defer></script>
</head>
  <footer>
    <p>Samhita Chunduru - 10479710</p>
  </footer>
</html>