<main class="page-content">
  <section class="hero">
    <h1 class="hero__title">Macro Motion</h1>
    <p class="hero__tagline">EAT. LIFT. REPEAT.</p>
  </section>

  <section class="features">
    <div class="features__inner">
      <h2>What we stand for:</h2>
      <p class="mission-text">
      Macro Motion is committed to empowering people to take control of their nutrition and workouts by providing simple, intuitive tools that promote accountability, progress, and community.
      </p>

    </div>
  </section>
</main>
