{{!--

logout handlebar template

--}}

<div id="signoutView">
  <h1 id="signoutMessage">You have been successfully logged out.</h1>
  <p>
    <a id="loginLink" href="/login">Click here to sign in again</a>
  </p>
</div>